In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import regex
import time
import random
import lyricsgenius
import requests
from bs4 import BeautifulSoup
import re
import json
import math

In [2]:
query = "SELECT Songs.spotify_id, Songs.title, Artists.name, Songs.danceability, Songs.liveness, Songs.tempo, Songs.explicit FROM ArtistsSongs JOIN Songs ON ArtistsSongs.song_id = Songs.spotify_id JOIN Artists ON ArtistsSongs.artist_id = Artists.artist_id"

engine = create_engine('mysql+pymysql://test_remote:CIS550@localhost/project_data')
with engine.connect() as conn, conn.begin():
    lyric_getter = pd.read_sql(query, conn)

In [6]:
def scrape_lyrics(x):
    time.sleep(0.01)
    artistname = x["name"]
    songname = x["title"]
    artistname2 = str(artistname.replace(' ','-')) if ' ' in artistname else str(artistname)
    songname2 = str(re.sub(r'[^A-Za-z0-9 ]+', '', songname).replace(' ','-')) if ' ' in songname else str(songname)
    page = requests.get(f"https://genius.com/{artistname2.lower().capitalize()}-{songname2}-lyrics")
    html = BeautifulSoup(page.text, 'html.parser')
    lyrics1 = html.find("div", class_="lyrics")
    lyrics2 = html.find("div", class_="Lyrics__Container-sc-1ynbvzw-2 jgQsqn")
    if lyrics1:
        lyrics = lyrics1.get_text()
    elif lyrics2:
        lyrics = lyrics2.get_text()
    elif lyrics1 == lyrics2 == None:
        lyrics = None
    return lyrics

In [ ]:
lyric_getter['lyrics'] = lyric_getter.apply(lambda x: scrape_lyrics(x), axis=1)
lyric_getter.to_csv('lyrics_added.csv')

In [3]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/ubuntu/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
/home/ubuntu/explore/env/lib/python3.8/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [8]:
def mood_score(x):
    title = x['title']
    name = x['name']
    word = str(name + title)
    sentiments = sid.polarity_scores(word)
    nlp = float(sentiments["compound"])
    other = int(x['explicit']) * -0.5 + float(x['danceability']) + float(x['liveness'])
    weighted = nlp * 0.7 + other * 0.3
    return (weighted + 1)/2.5

def mood_variance(x):
    title = x['title']
    name = x['name']
    word = str(name + title)
    sentiments = sid.polarity_scores(word)
    pos = float(sentiments['pos'])
    neg = float(sentiments['neg'])
    variance = (pos + neg)+random.uniform(0,1)*0.25) / 2.56

In [5]:
data = lyric_getter
data['mood'] = data.apply(lambda x: mood_score(x), axis=1)

In [6]:
data['variance_of_mood'] = data.apply(lambda x: mood_variance(x), axis=1)

In [7]:
data

,spotify_id,title,name,danceability,liveness,tempo,explicit,mood,variance_of_mood
0,6FrUzUjdZ4Nlkfpbq2uO8u,Vapaus Johtaa Kansaa,51 Koodia,0.495,0.228,144.0,0,0.811267,None
1,1ek1hkCpOmyqvzwRCxglmh,Fefe,Opiat,0.649,0.127,80.9,0,0.821867,None
2,23maNO7JsCROTTHsi2jK2Y,Euro,Opiat,0.641,0.105,137.7,1,0.715867,None
3,4ecxwaxr4OYBJdVv57dWNY,Słuchaj Bracie,Opiat,0.582,0.108,90.1,0,0.804667,None
4,5nUE7g8CyXMw1I6fE2HJNd,Nike Air Max,Opiat,0.740,0.212,140.0,1,0.757067,None
...,...,...,...,...,...,...,...,...,...
757165,2BV0121xyXSGq4P0ki5Vlp,Sailing By,Sinéad Lohan,0.631,0.083,118.6,0,0.809467,None
757166,6lY7T854I6gVRMDhzmW0wp,Bee in the Bottle,Sinéad Lohan,0.671,0.165,166.8,0,0.833867,None
757167,7KErEKHHj81Oeaepb2o9yC,To Ramona,Sinéad Lohan,0.585,0.150,158.3,0,0.813667,None
757168,7tjG0psA6nb51i9bZPhWqF,You're in My Love,Sinéad Lohan,0.689,0.070,144.0,0,1.115687,None
757169,4GsgllqKulLc47dsO9Qvkp,Hurt Like Love,Bibi Zoe,0.662,0.149,125.0,0,1.188993,None

In [ ]:
data['mood'] = data.apply(lambda x: x['mood']['mood'], axis=1)